.Rproj.user
.Rhistory
.RData
.Ruserdata



#hide the html files 
**/*.html
#This is for macs only 
**/*.DS_Store
# this ignores excel sheets
**/*.xlsx
**/*.xls
# this ignores json files
**/*.json
# this ignores data base files
**/*.db
# this ignores Java Script files
**/*.jS
# this ignores Cascading Style Sheets
**/*.css
